/* body{
    background-color: bisque;
} */
 .navbar{
    height: 5rem;
    background-color:aliceblue
 }
 .fa-compass{
    color: #fe2023;
    font-size: 2rem;
 }

 .nav-link{
    color:#222222 !important;
 }